.headercontent {
   	size : 11pt;
   	border : 1;
   	padding : 10px;
}

.titlecontent {
   	size : 30pt;
   	padding : 10px;
   	text-align : center;
	font-weight: bold;
}

.subtitlecontent {
	size : 15pt;
	text-align : left;
	padding : 10px;
	font-weight: bold;
}

.datecontent {
	size : 15pt;
	text-align : center;
	text-decoration: underline;
}

.payheader {
	size : 10pt;
	border : 1;
	padding : 10px;
}

.payheader td {
	text-align : right;
}

.payitem {
	size : 10pt;
	border : 1;
	padding : 10px;
	text-align : center;
}

.payitemamt {
	text-align : right;
}

.footercontent1 {
	size : 15pt;
	padding : 10px;
	text-align: center;
	font-weight: bold;
}
.footercontent2 {
	size : 11pt;
	padding : 10px;
	text-align: center;
}
.footercontent3 {
	size : 16pt;
	padding : 10px;
	text-align: center;
	font-weight: bold;
}