<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PAYCHECK</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />

	<!-- datepicker -->
	<link rel="stylesheet" href="/vendor/datepicker/datepicker.min.css">

    <!-- handsontable -->
    <link href="/handsontable/handsontable.full.min.css" rel="stylesheet" type="text/css" />
	<script src="/handsontable/handsontable.full.min.js"></script>
	<script src="/handsontable/languages/ko-KR.min.js"></script>

	<style>
		table.htCore tr.odd td {
		    background-color: #d1d3e2 !important;
		}

		table.htCore tr.selected td {
		    background-color: #3a3b45 !important;
		    color: #fff !important;
		}
	</style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-1">
					PayCheck<sup>v1.0</sup>
				</div>
			</a>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
							<div class="input-group-append">
								<button class="btn btn-primary" type="button">
									<i class="fas fa-search fa-sm"></i>
								</button>
							</div>
						</div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                            alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                            alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">TAKE</span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">급여명세서</h1>
                        <div>
	                        <a href="/save.do" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
	                        	<i class="fas fa-save fa-sm text-white-50"></i> 저장
	                        </a>
	                        <a href="/email.do" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
	                        	<i class="fas fa-envelope fa-sm text-white-50"></i> 이메일
	                        </a>
                        </div>
                    </div>
<!-- https://datatables.net/extensions/keytable/<p>
https://datatables.net/examples/api/add_row.html<p>
file:///C:/Users/hwmk/Desktop/startbootstrap-sb-admin-2-gh-pages/startbootstrap-sb-admin-2-gh-pages/tables.html<p>
https://fontawesome.com/v5/search?s=solid%2Cbrands<p>
https://kutar37.tistory.com/entry/Grid-%EB%9D%BC%EC%9D%B4%EB%B8%8C%EB%9F%AC%EB%A6%ACDatatables-%EC%82%AC%EC%9A%A9%EB%B2%95%EC%98%88%EC%A0%9C<p>
<p><p>
slickgrid  https://6pac.github.io/SlickGrid/examples/example-excel-compatible-spreadsheet.html
handsontable   https://handsontable.com/docs/6.2.1/demo-copy-paste.html

체크박스를 하려면 htCore가 아닌 일반 컬럼으로 추가해야 전체추가를 할 수 있음 (+다중 선택 후 스페이스 키로 멀티체크 할 수 있음)
http://jsfiddle.net/handsoncode/9e4044cf/
http://jsfiddle.net/handsoncode/1eg8dmsg/1/


https://handsontable.com/demo
https://handsontable.com/docs/examples
https://qiita.com/t-iguchi/items/1fc8f70c8a056fda744b

/api/paycheck/v1/
https://handsontable.com/docs/saving-data/#overview
https://ichi.pro/ko/http-yocheong-bangbeob-get-post-put-patch-delete-javascriptui-fetch-apileul-sayonghan-yeonseub-250115341607584



datepicker
http://fengyuanchen.github.io/datepicker/
https://github.com/fengyuanchen/datepicker#i18n
-->
					<!-- DataTable -->
					<div class="card shadow mb-4">
                        <div class="card-header py-3">
                        	<div class="d-sm-flex align-items-center justify-content-between">
	                        	<h6 class="m-0 font-weight-bold text-primary"><input data-toggle="datepicker" id="dateTemplate" ></h6>
								<div>
									<a href="#" class="btn btn-warning btn-circle btn-sm"> <i class="fas fa-plus"></i>
									</a> <a href="#" class="btn btn-danger btn-circle btn-sm"> <i class="fas fa-minus"></i>
									</a>
								</div>
							</div>
                        </div>
                        <div class="card-body">
							<!-- handsontable -->
							<div class="table-responsive">
						    	<div id="dataTable" class="row handsontable"></div>
							</div>
							<script>
							var SELECTED_CLASS = 'selected';
							var DEFAULT_ALIGNMENT_CLASS = 'htCenter';
							var ODD_ROW_CLASS = 'odd';

								var getHeaderAlignment = function(column) {
								  if (column === 9 || column === 12) {
								    return 'htCenter';
								  }

								  if (column === 10) {
								    return 'htRight';
								  }
								}

							  	  const data = [
										[true, '2019', 10, 11, 12, 13],
										[false, '2020', 20, 11, 14, 13],
										[false, '2021', 30, 15, 12, 13]
									];

									const container = document.getElementById('dataTable');
									const hTable = new Handsontable(container, {
										data,
										language: 'ko-KR',
										licenseKey: 'non-commercial-and-evaluation',
										width: '100%',
										height: 'auto',
										rowHeights: 30,
										className: "htMiddle htCenter",
										rowHeaders: true,
										colHeaders: ['year', 'tesla', 'volvo', 'toyota', 'ford'],
										columns: [
										    { data: 1, type: 'text' },
										    { data: 2, type: 'text' },
										    { data: 3, type: 'text' },
										    { data: 4, type: 'text' },
										    { data: 5, type: 'text' },
										  ],
										  stretchH: 'all',
										dropdownMenu: true,
										  hiddenColumns: {
										    indicators: true,
										  },
										  contextMenu: true,
										  multiColumnSorting: true,
										  filters: true,
										  manualRowMove: true,
										  afterGetColHeader: function (column, TH) {
											  if (column < 0) {
											    return;
											  }

											  if (TH.firstChild) {
											    var headerAlignment = getHeaderAlignment(column);

											    if (headerAlignment) {
											      Handsontable.dom.removeClass(TH.firstChild, DEFAULT_ALIGNMENT_CLASS);
											      Handsontable.dom.addClass(TH.firstChild, headerAlignment);
											    } else {
											      Handsontable.dom.addClass(TH.firstChild, DEFAULT_ALIGNMENT_CLASS);
											    }
											  }
											},
										afterGetRowHeader: function (row, TH) {
										  var input = document.createElement('input');
										  input.type = 'checkbox';
										  if (row >= 0 && this.getDataAtRowProp(row, '0')) {
										    input.checked = true;
										  }

										  Handsontable.dom.empty(TH);
										  TH.appendChild(input);
										},
							            afterOnCellMouseDown: function (event, coords) {
						            	  var target = event.target;

						            	  if (coords.col === -1 && target && target.nodeName === 'INPUT') {
						            	    event.preventDefault(); // Handsontable will render checked/unchecked checkbox by it own.
						            	    this.setDataAtRowProp(coords.row, '0', !target.checked);
						            	  }
						            	},
						            	beforeRenderer: function (TD, row, column, prop, value, cellProperties) {
						            		  // Adding classes to `TR` just while rendering first visible `TD` element
						            		  if (column !== 0) {
						            		    return;
						            		  }

						            		  var parentElement = TD.parentElement;

						            		  if (parentElement === null) {
						            		    return;
						            		  }

						            		  // Add class to selected rows
						            		  if (cellProperties.instance.getDataAtRowProp(row, '0')) {
						            		    Handsontable.dom.addClass(parentElement, SELECTED_CLASS);
						            		  } else {
						            		    Handsontable.dom.removeClass(parentElement, SELECTED_CLASS);
						            		  }

						            		  // Add class to odd TRs
						            		  if (row % 2 === 0) {
						            			  Handsontable.dom.removeClass(parentElement, ODD_ROW_CLASS);
						            		  } else {
						            			  Handsontable.dom.addClass(parentElement, ODD_ROW_CLASS);
						            		  }
						            		},
									});

									hTable.refreshDimensions();
							  </script>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; glorial 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">준비중입니다.</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

	<!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- datePicker -->
	<script src="/vendor/datepicker/datepicker.min.js"></script>
    <script src="/vendor/datepicker/datepicker.ko-KR.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$("#dateTemplate").datepicker({
				format:'yyyy년 MM월',
				language: 'ko-KR',
				autoHide: true
			}).on({'hide.datepicker': function (e) {
				var oldValue = $(this).data('oldValue') || "";

				// 값이 변경 되었을 경우만 조회
				if (this.value !== oldValue) {
		            $(this).data('oldValue', this.value);
		            getPaychecks();
		        }
		    }});
			$('[data-toggle="datepicker"]').datepicker();
			$("#dateTemplate").datepicker('setDate', new Date());
			getPaychecks();
		});

		function getPaychecks(){
			const paycheckMonth = $("#dateTemplate").datepicker('getDate');
			const year = paycheckMonth.getFullYear();
			const month = paycheckMonth.getMonth() + 1;

			fetch(`/api/paycheck/v1/paychecks/${year}${month >= 10 ? month : '0' + month}`)
			.then(res => res.json())
			.then(data => {

			})
		}
	</script>
</body>

</html>